<header>
  <app-menu></app-menu>
  <div class="banner-section">
    <app-title></app-title>
    <app-stylized-button [label]="'Read More'"></app-stylized-button>
  </div>
</header>
<section class="intro-section">
  <div>
    <app-simple-card></app-simple-card>
    <app-simple-card></app-simple-card>
    <app-simple-card></app-simple-card>
  </div>
</section>
<section class="blog-section">
  <div>
    <div class="section__left">
      <h2>Latest News</h2>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
    <div class="section__right">
      <div class="trending">
        <h4>Trending</h4>
        <div class="little-cards">
          <app-little-card></app-little-card>
          <app-little-card></app-little-card>
          <app-little-card></app-little-card>
          <app-little-card></app-little-card>
        </div>
      </div>
      <!-- <app-card-menu></app-card-menu> -->
    </div>
  </div>
</section>
<app-big-card></app-big-card>
