<div class="container__big-card">
  <div class="image"></div>
  <div class="content-container">
    <div class="content">
      <h3>11.11.22 / in <span>Games</span></h3>
      <h2>The best online game in out now</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliquamet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Vestibulum posuere
        porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat
        sit amet, commodo ipsum. Donec pellentesque vestibulum metus...
      </p>
      <a href="#"
        >Read More<img src="../../../../assets/double-arrow.webp" alt=""
      /></a>
    </div>
  </div>
</div>
