:root {
  --max-width: 1500px;
  --primary-color: #b01ba5;
  --secondary-color: #34164b;
  --tertiary-color: #9986a0;
  --quartenary-color: #68647d;
  --purple-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
}
