a {
  position: relative;
  display: inline-block;
  font-size: 0.938rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  z-index: 1;

  > img {
    display: inline-block;
    position: relative;
    left: 13px;
    width: auto;
  }
}
