.container {
  background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
  padding: 6.75rem 0;
}

.content {
  max-width: 1180px;
  padding: 0 2rem;
  margin-inline: auto;
}

.content-main {
  display: grid;
  grid-template-columns: 3fr 16.625rem;
  gap: 2rem;
}

.letter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5.125rem;
  justify-content: center;
  gap: 3px;

  a {
    display: inline-flex;
    height: 35px;
    width: 40px;
    border-radius: 40%;
    background-color: #503c6e;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover {
      background-color: #c313b7;
      transition: all 0.2s;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 12.5rem));
  gap: 2rem;
  justify-content: space-evenly;

  app-game-card {
    margin-bottom: 2rem;
  }
}

.menu-list {
  :first-child {
    margin-top: 0;
  }

  app-card-menu {
    display: block;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    margin-top: 5.313rem;
  }
}

@media screen and (max-width: 800px) {
  .content-main {
    grid-template-columns: 1fr;
  }
}
